/thanos_wide_v1_0.gz
/thanos_wide_v1_0.txt
/thanos_wide_v1_1.gz
/thanos_wide_v1_1.txt
/Data_long.Rdata
/thanos_long_v2_0.gz
/thanos_wide_v2_0.gz
/thanos_wide_v2_0.txt
/croatdata4.txt.gz
/thanos_long_v2_1.Rdata
/thanos_wide_v2_1.txt
/thanos_long_v2_1.gz
/SurfaceList.Rdata
/LoessList.Rdata
/thanos_long_v2_1
