/ThanoEmpirical.pdfsync
/ThanoEmpirical.synctex.gz
/.settings
/tmp
/ThanoEmpirical.bbl
/ThanoEmpirical.blg
/VIDpres.synctex.gz
/ThanoEmpirica.synctex.gz
/PAA2015PosterDraft.pdf
/ThanoEmpirical.aux
/ThanoEmpirical.log
/ThanoEmpirical.lot
/.texlipse
/.project
/references.bib.bak
