/tmp
/ThanoEmpirical.synctex.gz
/Figures
/ThanoEmpiricalProposal.pdf
/ThanoEmpirical.log
/ThanoEmpirica.synctex.gz
/ThanoEmpirical.aux
/VIDpres.aux
/VIDpres.log
/VIDpres.nav
/VIDpres.out
/VIDpres.pdf
/VIDpres.snm
/VIDpres.toc
/ThanoEmpirical.bbl
/ThanoEmpirical.blg
/VIDpres.synctex.gz
/.tex
/VIDpres.synctex.gz(busy)
/.tex
/ThanoEmpirical.synctex.gz(busy)
/.settings
/ThanoEmpirical.pdfsync
/VYPRsubmission.pdf
